In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
train_data = pd.read_csv("hr_train.csv")

In [18]:
train_data.head()
train_data.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
sales                    0
salary                   0
dtype: int64

In [19]:
train_data.dtypes

satisfaction_level       float64
last_evaluation          float64
number_project             int64
average_montly_hours       int64
time_spend_company         int64
Work_accident              int64
left                       int64
promotion_last_5years      int64
sales                     object
salary                    object
dtype: object

In [20]:
train_data = train_data.drop(['sales'], axis = 1)

In [21]:
train_data.loc[train_data['salary'] == "high", 'salary_label'] = int(2)
train_data.loc[train_data['salary'] == "medium", 'salary_label'] = int(1)
train_data.loc[train_data['salary'] == "low", 'salary_label'] = int(0)

In [22]:
y_train = train_data['left']
x_train = train_data.drop(['left'], axis = 1)

In [23]:
x_train

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,salary,salary_label
0,0.42,0.46,2,150,3,0,0,medium,1.0
1,0.66,0.77,2,171,2,0,0,medium,1.0
2,0.55,0.49,5,240,3,0,0,high,2.0
3,0.22,0.88,4,213,3,1,0,medium,1.0
4,0.20,0.72,6,224,4,0,0,medium,1.0
...,...,...,...,...,...,...,...,...,...
10494,0.82,0.84,3,237,2,0,0,low,0.0
10495,0.85,0.81,3,205,3,0,0,high,2.0
10496,0.32,0.95,5,172,2,0,0,low,0.0
10497,0.51,0.76,4,140,3,0,0,low,0.0
10498,0.80,0.68,4,199,2,0,0,medium,1.0

In [24]:
y_train

0        1
1        0
2        0
3        0
4        1
        ..
10494    0
10495    0
10496    1
10497    1
10498    0
Name: left, Length: 10499, dtype: int64

In [25]:
x_train = x_train.drop(['salary'], axis = 1)

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
Xtrain, Xval, Ytrain, Yval = train_test_split(x_train, y_train, test_size=0.25, random_state=1)

In [28]:
Xtrain

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,salary_label
1317,0.55,0.92,3,198,3,0,0,0.0
5918,0.50,0.81,3,170,2,0,0,0.0
10003,0.65,0.70,3,231,3,0,0,1.0
9011,0.63,0.93,4,238,4,0,0,1.0
9750,0.87,0.83,4,265,6,0,0,0.0
...,...,...,...,...,...,...,...,...
2895,0.84,0.85,4,249,6,0,0,0.0
7813,0.10,0.77,6,272,4,0,0,0.0
905,0.78,0.90,4,238,2,0,0,0.0
5192,0.17,0.55,4,194,3,0,0,0.0
235,0.90,0.87,5,219,2,0,0,1.0

In [29]:
Ytrain

1317     0
5918     0
10003    0
9011     0
9750     1
        ..
2895     0
7813     1
905      0
5192     0
235      0
Name: left, Length: 7874, dtype: int64

In [ ]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
rfm = RandomForestClassifier(bootstrap=True)
etc = ExtraTreesClassifier()
rfm.fit(Xtrain, Ytrain)
etc.fit(Xtrain, Ytrain)
y_predrfm = rfm.predict(Xval)
y_predetc = etc.predict(Xval)

In [13]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Yval, y_predrfm)

ModuleNotFoundError: No module named 'sklearn'

In [23]:
confusion_matrix(Yval, y_predetc)

array([[1779,   77],
       [ 282,  487]], dtype=int64)

In [28]:
from sklearn.metrics import precision_score, recall_score, f1_score
print(precision_score(Yval, y_predrfm))
print(recall_score(Yval, y_predrfm))
print(f1_score(Yval, y_predrfm))

0.8717948717948718
0.6631989596879063
0.7533234859675036

In [29]:
from sklearn.metrics import precision_score, recall_score, f1_score
print(precision_score(Yval, y_predetc))
print(recall_score(Yval, y_predetc))
print(f1_score(Yval, y_predetc))

0.8634751773049646
0.6332899869960988
0.730682670667667

In [30]:
y_predrfm

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [35]:
import pickle
pickle.dump(rfm, open("HumanResourcesmodel.pickle", 'wb'))